body {
    background-color: #fef0d2;
    font-family: 'Red Rose', cursive;
}
.elementoLista {
  background-color: #fddb90;
  
}

.elementoLista:hover {
  background-color: #fddb90;
}

.barraNavegacion {
  font-family: 'UnifrakturMaguntia', cursive;
}

hr {
  margin: auto;
  margin-bottom: 1em;
  border: 0;
  height: 1px;
  width: 80%;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.imgCabecera {
  padding: 0;
  margin: 0;
}

.login {
  margin-top: 10%;
}

.test {
  border:solid saddlebrown;
}
.jornada {
  padding: 1%;
}

.imgInvestigador {
  padding: 0;
}

.mainContainer {
  margin: 1em 2% 1em 2%;
  text-align: justify;
}

.saltos {
    white-space: pre-wrap;
    background-color: #f0e3c7;
}
.margenDerecho {
   margin-right: 1%;
}
.margenIzquierdo {
   margin-left: 1%;
}
.transfondo {
  margin-top: 1%;
}
.pruebas {
  border-color: gray;
  border-width: 1px;
  border-style: dotted;
  
}